<div class="fill-form input_form">
<%= simple_form_for(@organization, :html => { :class => 'form-horizontal', :multipart => true, :id => "new_organization" }) do |f| %>
  <%= f.error_notification %>
  <br />
  <%= f.input :name,:required => false, :label => "ชื่อองค์กร" ,:input_html => { :class => "span5" } %>
  <%= f.input :logo, :hint => "File JPG JPEG PNG only.", :input_html => { :id => "file-input"}  %>
  <div class="preview-image"><div id="result"><p></p></div></div>
  <div class="form-actions">
    <input type="submit" class="btn btn-primary" value="สร้าง"/>&nbsp;&nbsp;&nbsp;<a href="/organizations" class="btn btn-danger">ยกเลิก</a>
  </div>
</div>
<% end %>
