<div class="page-header">
  <div class="alert alert-info header">
  <h1>ข้อมูลทั่วไป<small></small></h1>
  </div>
</div>
<div class="bg-organ">
<center><%= link_to image_tag(@organization.logo.url(:medium)), @organization.logo.url , :class => "colorbox", :title => "#{ @organization.name }"%></center>
<br/>
<blockquote><p>ชื่อองค์กร : <%= @organization.name %></p></blockquote>


<!-- <blockquote><p>วิสัยทัศน์ : อยู่ระหว่างปรับปรุง </p></blockquote>
<blockquote><p>พันธกิจ : อยู่ระหว่างปรับปรุง </p></blockquote> -->
</div>
<div class="form-actions bottom">
<%= link_to 'แก้ไข', edit_organization_path(@organization) %>
</div>
<br />

