<div class="page-header">
  <!-- <a href="organizations/new" class="btn btn-primary pull-right" id="button-create"><i class="icon-white icon-plus"></i> Create Organization</a> -->
  <h1>ข้อมูลองค์กร<small></small></h1>
</div>
<center><%= link_to image_tag(@organization.logo.url(:medium)), @organization.logo.url , :class => "colorbox", :title => "#{ @organization.name }"%></center>
<blockquote><p>ชื่อองค์กร : <%= @organization.name %></p></blockquote>


<!-- <blockquote><p>วิสัยทัศน์ : อยู่ระหว่างปรับปรุง </p></blockquote>
<blockquote><p>พันธกิจ : อยู่ระหว่างปรับปรุง </p></blockquote> -->

<div class="form-actions">
<%= link_to 'แก้ไข', edit_organization_path(@organization) %> |
<%= link_to 'กลับ', organizations_path %>
</div>

<br />