<header class="navbar">
  <div class="headp">
    <div class="container">

<!--       <% link_to "secret news", root_path, id: "logo" %>
      <nav class="border-login">
        <ul class="nav pull-right">
          <% if signed_in? %>
          <li class="welcome">ยินดีต้อนรับ</li>
          <li class="current_user"><%= link_to current_user.fullname,current_user %></li>          
          <li class="current_user"><%= link_to "ออกจากระบบ", signout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li class="current_user"><%= link_to "เข้าสู่ระบบ", signin_path %></li>
          <% end %>
        </ul>
      </nav> -->
      
    </div>
  </div>
</header>

